.navbar-nav .nav-item{
    background-color: #d4bd7f;
}

.btn-primary {
    margin-left: 46.5%;
    margin-top: 0.5em;
}

section{
    padding:2rem 0;
}

#updateIcon{
    vertical-align: middle;
    margin-left: -20%;
    position: absolute;
    margin-top: -3%;
}